---
// Component imports
import {Layout} from "@globals"

const imageGroups = [
	{
		name: "Fordon",
		images: [
			{
				name: "Ambulance",
				url: "https://upload.wikimedia.org/wikipedia/commons/7/76/Swedish_ambulance_in_Lund.jpg",
			},
			{
				name: "Firetruck",
				url: "https://upload.wikimedia.org/wikipedia/commons/0/00/Scania_Firetruck.jpg",
			},
			{
				name: "Police car",
				url: "https://upload.wikimedia.org/wikipedia/commons/0/0e/PolicecarSweden.jpg",
			},
		]
	}
]
---

<Layout title="Astro PWA Starter">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<!-- Welcome -->
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<h1 class="text-4xl font-semibold">🟢 Oskar</h1>
				<p class="italic">
					Nu kör vi!
				</p>
			</div>
			<div>
				<ul class="">
					{imageGroups.map(group =>
						<li class="flex flex-col space-y-2">
							<h2 class="text-xl font-semibold">{group.name}</h2>
							<ul class="grid md:grid-cols-2 gap-4">
								{group.images.map(image =>
									<li class="flex flex-col items-center space-y-2">
										<img
											src={image.url}
											alt={image.name}
											class="rounded-lg"
										/>
									</li>
								)}
							</ul>
						</li>
					)}
				</ul>
			</div>
		</div>

		<!-- Twitter -->
		<div class="flex justify-center">
			<span
				href="https://twitter.com/shaunchander"
				target="_blank"
				rel="noopener noreferrer"
				class="relative inline-flex items-center rounded-full bg-gray-100 p-4 transition duration-300 ease-in-out hover:-translate-y-2 focus:-translate-y-2 group hover:text-white focus:text-white"
			>
				<div class="flex items-center space-x-4 relative z-10">
					<span class="text-lg font-bold">Built for Oskar</span>
				</div>
				<div
					class="inline-block rounded-full absolute inset-0 bg-gradient-to-tr from-[#07f49e] to-[#42047e] opacity-0 group-hover:opacity-100 group-focus:opacity-100 duration-300 ease-in-out transition"
				>
				</div>
			</span>
		</div>
	</section>
</Layout>
